.page-content {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

footer {
    display: table-row;
    height: 0;
}

.mdl-layout__header-row {
    grid-template-columns: repeat(4, 20%);
    overflow: hidden;
    object-fit: cover;
}

.mdl-layout__header-row .mdl-layout-title {
    width: 100%;

}

.mdl-layout__header-row .mdl-layout-title img {
    width: 240px;
    height: auto;
    transform: scale(1.1);
}

img {
	display: block;
	margin-top: 10px;
	margin-left: -60px;
}
