body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.mdl-layout__header-row {
    grid-template-columns: repeat(4, 20%);
    overflow: hidden;
    object-fit: cover;
}

.mdl-layout__header-row .mdl-layout-title {
    width: 100%;

}

.mdl-layout__header-row .mdl-layout-title img {
    width: 240px;
    height: auto;
    transform: scale(1.1);
}

img {
	display: block;
	margin-top: 10px;
	margin-left: -60px;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
